$amarillo: #fec118;

.header {
    background-color: $amarillo;

}

.titulo-header {
    color: white;
    font-family:'Archivo', sans-serif;
    font-weight: 800;
    font-size: 50px;
    background-color: $amarillo;
    padding: 40px; 
    display: grid;
    justify-content: space-around;
       
}